* {
  margin: 0;
  padding: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
@font-face {
  font-family: title-font;
  src: url(fonts/IntroScriptDemo-Medium.otf);
}
:root {
  --font_roboto: "Roboto", sans-serif;
  --white_color: #f5f5f5;
  --black_color: #202020;
}

body {
  background-color: #282828;
  width: 100svw;
  height: 100svh;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 80px;
  margin-inline: 1.6rem;
}
main {
  width: calc(100% - 20px);
  height: calc(100% - 80px);
  padding-left: 1.25rem;
}
h1 {
  white-space: nowrap;
  color: var(--white_color);
  font-family: "title-font";
  font-size: clamp(2.6rem, 1.9235rem + 1.2978vw, 4rem);
}
h2,
h3,
span {
  font-family: var(--font_roboto);
  color: var(--white_color);
  font-weight: 500;
}
h2,
h3 {
  font-size: 1.875em;
}
span {
  font-size: 1.0625em;
}
input,
button,
select,
option {
  font-family: var(--font_roboto);
  color: var(--black_color);
  font-weight: 500;
}
h3 {
  width: 100%;
}

.input input {
  font-size: 1.125em;
  text-align: center;
  width: 80%;
  padding: 0.16rem 0;
}
.range {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem;
  gap: 1.25rem;
}
.range div,
.quantity {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.option {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.option > div {
  display: flex;
  align-items: center;
}
.text_checkbox {
  display: flex;
}
.option span {
  display: inline-block;
  width: 90px;
}
select {
  font-size: 1.125em;
  margin-left: 2.5rem;
  padding: 2px 1px;
}
.input_separate {
  text-align: center;
  margin-left: 3.44rem;
  width: 60px;
  font-size: 1.125em;
  padding: 2px 1px;
}
.float {
  text-align: center;
  margin-left: 2.5rem;
  width: 60px;
  font-size: 1.125em;
  padding: 0.125rem 0.063rem;
}
form {
  display: flex;
  height: 100%;
}
.nav {
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

textarea {
  resize: none;
  height: 80%;
  width: 100%;
  background-color: var(--black_color);
  border: none;
  color: var(--white_color);
  font-size: 1.75em;
  z-index: 2;
}
.link_coffee {
  background-color: var(--white_color);
  border-radius: 25px;
  padding-inline: 0.94rem;
  height: 50%;
}
.coffee {
  width: 120px;
  height: 100%;
}
.github {
  width: 40px;
  height: 40px;
}
button {
  cursor: pointer;
  font-size: 1.375em;
  padding: 0.625rem 6.25rem;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.buttons input {
  font-size: 1.25em;
  text-align: center;
  padding: 0.625rem 0;
  flex-grow: 0.8;
  width: 100%;
  cursor: pointer;
}
input[type="checkbox"] {
  width: 16px;
  height: 16px;
}
.result {
  width: 80%;
  margin-right: 2%;
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
@media (max-width: 834px) {
  h3,
  h2 {
    visibility: hidden;
    position: absolute;
  }
  header {
    margin-inline: 0;
  }
  h1 {
    font-size: clamp(0rem, 0rem + 3.8369vw, 2rem);
  }
  main {
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  form {
    flex-direction: column-reverse;
    margin-top: 10px;
    width: 100%;
  }
  .result {
    width: 100%;
    margin-right: 0;
    align-items: center;
    padding-bottom: 1.25rem;
  }
  .nav {
    width: 100%;
    padding-top: 1.25rem;
    border-top: var(--white_color) 0.09rem solid;
  }
  .option {
    margin-left: 1.25rem;
  }
  textarea {
    width: 98%;
  }
  .buttons {
    padding-inline: 20px;
  }
}
